<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Conexión a WIFI ETECSA</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/qbabitnauta/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ asset("bundles/qbabitnauta/vendor/fontawesome-free/css/all.min.css") }}" rel="stylesheet" type="text/css">
    <link href='{{ asset("bundles/qbabittemplateadminlte/adminlte/css/font-google.css") }}?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='{{ asset("bundles/qbabittemplateadminlte/adminlte/css/font-google.css") }}?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{ asset("bundles/qbabitnauta/vendor/magnific-popup/magnific-popup.css") }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset("bundles/qbabitnauta/css/creative.css") }}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Conexión a WIFI ETECSA</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {#<ul class="navbar-nav ml-auto">#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link js-scroll-trigger" href="#about">About</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link js-scroll-trigger" href="#services">Services</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link js-scroll-trigger" href="#contact">Contact</a>#}
                {#</li>#}
            {#</ul>#}
        </div>
    </div>
</nav>

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Bienvenido a WIFI ETECSA</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">En esta web podrá encontrar información de su conexión a WIFI ETECSA.</p>
                {#<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>#}
            </div>
        </div>
    </div>
</header>
{% block content %}

{% endblock %}


<section id="contact" class="bg-dark text-white">
    <div class="container ">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Manténgase en contacto</h2>
                <hr class="my-4">
                <p class="mb-5">Si tiene alguna pregunta o sugerencia contáctenos! Le responderemos lo  más rapido posible.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
                <p>{{ nauta.phone }}</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
                <p>
                    <a href="mailto:{{ nauta.email }}">{{ nauta.email }}</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="{{ asset("bundles/qbabitcore/js/jquery.min.js") }}"></script>
<script src="{{ asset("bundles/qbabitnauta/vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ asset("bundles/qbabitnauta/vendor/jquery-easing/jquery.easing.min.js") }}"></script>
<script src="{{ asset("bundles/qbabitnauta/vendor/scrollreveal/scrollreveal.min.js") }}"></script>
<script src="{{ asset("bundles/qbabitnauta/vendor/magnific-popup/jquery.magnific-popup.min.js") }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ asset("bundles/qbabitnauta/js/creative.min.js") }}"></script>

{% block scripts %}
{% endblock %}
</body>

</html>