{% extends  template_helper.getRedirectedView("QbaBitCoreBundle:Layout:layout.html.twig") %}
{% set titlePage = base_title | trans() %}
{% set tit = (isNew==true?'qba_bit.core.nuevo_X':'qba_bit.core.editar_X') | trans({'X':  titlePage }) %}
{% block title %} {{ tit }} {% endblock %}
{% set paramsUrl = {itemid: app.request.get('itemid'), 'fqid': app.request.get('fqid'), 'owneruid':app.request.get('owneruid')} %}
{% block update -%}


    <div class="box-header with-border">
        <div class="user-block">
            <span class="username" style="margin-left: 0px;"><h3 style="margin-bottom: 0;margin-top: 0;">{% block title_caption %} {{ tit }} {% endblock %}</h3></span>
        </div>
        <div class="box-tools" style="display: none">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownOptions"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-fw fa-cogs"></span>
                    {{ 'qba_bit.core.options' | trans() }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownOptions">
                    {% block dropdown_options  %}

                    {% endblock %}
                </ul>
            </div>
        </div>

    </div>

    {% for tipo, mensajes in app.session.flashbag.all() %}
        {% for mensaje in mensajes %}
            <div class="{{ tipo }}">{{ mensaje }}</div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form, { attr:{id: form.vars.id, novalidate:'novalidate', enctype: 'multipart/form-data' } }) }}
    <div class="qb-frm">
        {% block form_body %}

        {% endblock %}
        <div class="row tc">
            <div class="{% if is_granted(role.edit) %}col-xs-6 {% else %} col-xs-12 {% endif %}">
            {{ form_row(form.submit) }}</div>
            {% if is_granted(role.edit) %}
            <div class="col-xs-6">
                {{ form_row(form.button) }}
                <script>
                    $("#{{ form.button.vars.id }}").on("click",function (e) {
                        document.location.href = "{{ url(url.view) }}";
                    })
                </script>
            </div>
            {% endif %}
        </div>
    </div>
    {{ form_end(form) }}







{% endblock %}






{#{% set isAjax = app.request.isXmlHttpRequest %}
{% if isAjax ==false %}
    {% if doAjax is defined %}
        {% set isAjax =true %}

    {% endif %}
{% endif %}
{% extends  isAjax   ?core.admin.templates.ajax:core.admin.templates.layout %}



{% block title %}
    {% if isNew %}
        {% trans %} qbabit.common.action.new  {% endtrans %}
    {% else %}
        {% trans %} qbabit.common.action.edit  {% endtrans %}
    {% endif %}
    {% block inner_title %} {% endblock %}
{% endblock title %}
 {% block error_type %}
     {% if response_Text.type=="error" %}
         alert-danger
     {% else %}
         alert-success
     {% endif %}

 {% endblock %}

       {% block error_icon %}
           {% if response_Text.type=="error" %}
               fa-ban
           {% else %}
               fa-success
           {% endif %}

       {% endblock %}
    {% block  error_text %}

        {% for  m in response_Text.values %}

            <div> {{ m }}</div>

        {% endfor %}



    {% endblock %}

{% block content %}


    {% if response_Text.type=="" %}
        <script>$('.alert').hide()</script>

    {% else %}
        <script>$('.alert').show()</script>

    {% endif %}



    {% include 'QbaBitCoreBundle:Form:_base_include.html.twig' with {'list':[],'onloadAll':'onloadEdit','loading':true,'again':true} %}
    <!-- /.box-header -->
    <!-- form start -->
    {% block from_declare %}{{ form_start(form, { attr:{id:form.vars.id} } ) }} {% endblock %}
    <div class="box box-primary edit-form">

        <!-- /.box-header -->
        <div class="box-body">
            {% block form_body %}
            {% endblock %}

            <!-- /.box-body -->
            {% block buttons %}
                <div class="box-footer" style="text-align: center">
                    <button id="{{ form.vars.id }}_button" type="{% block form_debug_b %}button{% endblock %}"
                            class="btn btn-primary">{% block button_ok %}{% trans %}qbabit.common.action.submit{% endtrans %}{% endblock %}</button>
                    {% block button_cancel %}
                        <a class="btn btn-cancel" href="{% block cancel_ref %}{% endblock %}"
                           onclick="last=null;">{% trans %}
                            qbabit.common.action.cancel{% endtrans %}</a>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>

    </div>

    {% if form._token is defined %}
        {{ form_widget( form._token) }}
    {% endif %}
    {{ form_end(form) }}


{% endblock %}

{% block scripts %}

    {{ parent() }}
    <script>

        //   var executed = false;

        function onloadEdit(e) {

            //   if (executed == true)
            //       return;
            //    executed = true;
            {% block form_debug_sc %}

            PageAjax.edit.setForm('#{{ form.vars.id }}', {{ form.vars.id }}_button, '{% block submit_url %}{{ form.vars.action }}{% endblock %}', '{% block submit_method %}{{ form.vars.method }}{% endblock %}', '.content-wrapper', true);
            PageAjax.edit.editing_text = '{{ 'qbabit.common.action.saving'|trans }}';
            PageAjax.block.img = '{{ asset('bundles/qbabitcore/css/common/images/loading.gif') }}';
            PageAjax.edit.msg.ok = '{{ 'qbabit.common.error.success'|trans }}';
            PageAjax.edit.msg.error = '{{ 'qbabit.common.error.error'|trans }}';
            {% endblock %}

            {% block child_edit_java %}

            {% endblock %}


        }


    </script>
    {% block update_url %}
        <script>
            {% set port = request.server.get('SERVER_PORT')=='80'?"":(":"~request.server.get('SERVER_PORT')) %}
            {% set begin_uri =request.server.get('SERVER_NAME')~port  %}

    var url = '{{ begin_uri~request.requestUri }}';
            if(url.indexOf('?')!=-1)
                    url = url.substr(0,url.indexOf('?'));

             PageAjax.edit.url ='http://'+ url;
            console.log(PageAjax.edit.url);

        </script> {% endblock %}
{% endblock %}
 {% block additional_javascripts %}

 {% endblock %}
{#
{% block form_debug_b %}submit{% endblock %}
 {% block form_debug_sc %}
{% endblock %}#}