{% extends template_helper.getRedirectedView("QbaBitCoreBundle:Cruds:_list.html.twig") %}

    {% block search_columns %}

        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(searchForm.nombre) }}
                {{ form_widget(searchForm.nombre) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(searchForm.email) }}
                {{ form_widget(searchForm.email) }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {{ form_label(searchForm.telMovil) }}
                {{ form_widget(searchForm.telMovil) }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {{ form_label(searchForm.telFijo) }}
                {{ form_widget(searchForm.telFijo) }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label style="display: block;">&nbsp;</label>
                {{ form_row(searchForm.submit) }}
            </div>
        </div>

    {% endblock %}
{% block columns %}

    <tr>

        <th style="width: 25px;">
            <input type="checkbox" id="chkall" class="chkall"/>
        </th>

        <th class="sorting_asc"
            aria-sort="ascending"
            aria-label="Rendering engine: activate to sort column descending">{{ knp_pagination_sortable(entities,  'qba_bit.security.security_user.fields.name' , 'a.name') }}</th>

        <th class="sorting_asc"
            aria-sort="ascending"
            aria-label="Rendering engine: activate to sort column descending">{{ knp_pagination_sortable(entities,  'qba_bit.security.security_user.fields.email' , 'a.email') }}</th>
        <th>{{ 'qba_bit.security.security_user.fields.movilPhone' | trans }}</th>
        <th>{{ 'qba_bit.security.security_user.fields.fixPhone' | trans }}</th>

        <th>{{ 'qba_bit.security.security_user.fields.enabled' | trans }}</th>
        <th>{{ knp_pagination_sortable(entities, 'qba_bit.security.security_user.fields.dateCreated' | trans(), 'u.dateCreated', {'direction': 'desc'}) }}</th>

    </tr>
{% endblock %}
{% block row %}
    {% set usersess = app.user %}
    {% set puedeEditar = is_granted(role.edit) %}
    {% for entity in entities %}
        {#{% set showEdit = (not entity.esadmin and puedeEditar) ? true : usersess.id == entity.id %}#}
        {% set showEdit = true %}
        {% set nombreUsuario = entity.fullname %}

        <tr id="rw{{ entity.id }}">
            <td>
                {% if not entity.getIssuperadmin %}
                    <input type="checkbox" name="idcheck[]" value="{{ entity.id }}" id="id{{ entity.id }}"
                           class="selitm minimal"/>
                    <label for="id{{ entity.id }}"></label>
                {% endif %}
            </td>
            <td>
                {% if showEdit %}
                    <a href="{{ path(url.edit, { 'id': entity.id } | merge(paramsUrl)) }}"
                       class="edit">{{ nombreUsuario }}</a>
                {% else %}
                    {{ nombreUsuario }}
                {% endif %}
            </td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.movilPhone }}</td>
            <td>{{ entity.fixPhone }}</td>
            <td>
                <div class="switch">
                    <input id="enable-{{ entity.id }}" type="hidden" value=""/>
                    <input id="disable-{{ entity.id }}" type="hidden" value=""/>
                    <input id="{{ entity.id }}" type="checkbox"
                           {% if entity.enabled %}checked="checked"{% endif %} disabled/>
                    <label for="{{ entity.id }}"></label>
                </div>

            </td>
            <td>{{ entity.dateCreated | date('d/m/Y H:i') }}</td>
        </tr>
    {% endfor %}
{% endblock %}